@{
    ViewData["Title"] = "Desafio para vaga de Fullstack Developer Jr na Trílogo";
}
<h3>@ViewData["Title"]</h3>

<h4>O desafio consiste apenas em criar o código necessário para exibir 10 registros (posts)</h4>
<br />
<h3>Regras</h3>
<ul>
    <li>Os dados devem ser consultados de <a href="https://jsonplaceholder.typicode.com/posts/" target="_blank">https://jsonplaceholder.typicode.com/posts/</a></li>
    <li>A aplicação deve ser RESTful</li>
    <li>Exibir os 10 registros em formato de tabela com 2 colunas: Código e Título</li>
    <li>Criar link para página com detalhes (conteúdo) do post</li>
    <li>Qualquer IDE pode ser utilizada (recomendamos o <a href="https://code.visualstudio.com/">Visual Studio Code</a>)</li>
    <li>O código deve ser escrito em ASP.NET Core 2.0</li>
    <li>O participante deve utilizar esta base de código para construir seu código</li>
    <br />
    <li>Esta página de regras deve permanecer intacta</li>
    <li>Interpretar as regras faz parte do desafio</li>
    <li>Saber como trabalhar com as tecnologias citadas faz parte do desafio</li>
    <li>Não serão tiradas dúvidas sobre o desafio</li>
</ul>

<h3>Diferenciais</h3>
<ul>
    <li>Dividir código em camadas de negócio e acesso a dados</li>
    <li>Implementar testes</li>
    <li>Seguir o <a href="https://en.wikipedia.org/wiki/SOLID_(object-oriented_design)">SOLID</a> e outros padrões considerados boas práticas de código</li>
</ul>

<h3>Como entregar o código</h3>
<ol>
    <li>Faça um Fork deste repositório (<a href="https://github.com/hugoramos/trilogo-dev-jr">https://github.com/hugoramos/trilogo-dev-jr</a>)</li>
    <li>Crie uma branch</li>
    <li>Faça commits a medida em que for trabalhando</li>
    <li>Quando finalizar, envie o endereço do seu repositório para <a href="mailto:rh@trilogo.com.br">rh@trilogo.com.br</a></li>
</ol>